
p, ul {
    color: grey;
}

a{
    color: deepskyblue;
    font-weight: bold;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
}

body{ 
    background-color: bisque;
}